.nav {
  background-color: #070707;
  margin-bottom: 1.45rem
}

.navCon {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
  display: block
}

.brand {
  color: white;
  text-Decoration: none
}

.header1 {
  margin: 0;
  display:inline-flex
}

.styleTwo {
  position: relative;
  display: inline-flex;
  height: 24px;
  font-size: 11px;
  float: right;
  /* font-weight: bold; */
  /* background: transparent url(bgOFF.gif) repeat-x top left; */
  /* font-family: Arial, Verdana, Helvitica, sans-serif; */
}

.styleTwo ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: auto
}

.styleTwo ul li {
  display: block;
  float: left;

  margin: 0 1px 0 0;
  padding: 6px 20px 0 20px;
}

.listLink{
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold
}