.wrapper {
  background-color: black;
  /* margin-bottom: 1.45rem; */
  /* margin-top: 1.45rem; */
  max-height: 100px
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 90px;
  grid-template-areas: "logo menu";
  align-items: center;
  background-color: transparent;
}

.siteName{
  grid-area: logo;
  /* align-self: flex-start; */
  margin-left: 10px;
}

.siteName a{
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

.menu ul{
display: grid;
grid-gap: 10px;
padding: 0;
list-style: none;
grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
grid-template-rows: auto;
align-items: stretch;
}

.menu a {
  /* background: yellow; */
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: whitesmoke;
  text-transform: uppercase;
  font-family: 'Times New Roman',
  Times,
  serif;
  font-size: 18px;
  font-weight: bold;
  /* justify-self: center; */
  /* align-self: stretch */
}

#footWrap{
  display: grid;
  grid-template-areas: "copy . social";
  grid-template-columns: 200px 1fr 150px;
  grid-template-rows: 74px;
  align-items: center;
  margin-top: 1.45rem;
  background-image: url(../images/footer.gif);
}

#footWrap p {
  padding-left: 10px;
  padding-top: 20px;
}

#social{
  display: grid;
  grid-gap: 10px;
  grid-area: social;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  justify-content: center;
  padding: auto;
}

#social a {
  padding-top: 30px;
}


[aria-controls="menu-list"] {
  display: none;
}

@media (max-width: 1000px) {
  .menu {
    order: -1;
    perspective: 800px;
  }
  [aria-controls="menu-list"] {
    display: block;
    margin-bottom: 10px;
  }
  .menu ul {
    max-height: 0;
    overflow: hidden;
    transform: rotateX(90deg);
    transition: all 0.5s;
  }
  [aria-expanded="true"]~ul {
    display: grid;
    max-height: 500px;
    transform: rotateX(0);
  }
  [aria-expanded="false"] .close {
    display: none;
  }
  [aria-expanded="true"] .close {
    display: inline-block;
  }
  [aria-expanded="true"] .open {
    display: none;
  }
}